@font-face {
    font-family: 'Jellyka';
      src: url('fonts/JellykaDeliciousCake.eot'); /* IE9 Compat Modes */
      src: url('fonts/JellykaDeliciousCake.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/JellykaDeliciousCake.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/JellykaDeliciousCake.woff') format('woff'), /* Pretty Modern Browsers */
          url('fonts/JellykaDeliciousCake.ttf')  format('truetype'), /* Safari, Android, iOS */
          url('fonts/JellykaDeliciousCake.svg') format('svg'); /* Legacy iOS */
      font-style: normal;
  }

  body {
      background-image: url("images/bg.png");
      font-family: 'Jellyka';
  }

  .content {
      background-image: url("images/wrapperbg.png");
      position: absolute;
      width: 600px;
      height: 400px;
      margin: 0;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
  }

  h1 {
    font-size: 70px;
    font-family: 'Jellyka';
    color: white;
    position: absolute;
    top: 5%;
    left: 8%;
  }

  p {
      font-size: 15px;
      color: white;
      position: absolute;
      top: 58%;
      left: 8%;

  }